#top{
    width: 800px;
    background-color:#dcc9f4;
    margin:20px auto;
    text-align :center;
}

.top-child{
  width:20%;
  background-color:#ffd9df;
  display: inline-block;
}

#middle{
width:800px;
height:800px;
margin:20px auto;
background-color:#ffd9df;
align-items:center;
position:relative;
}

#middle-child01{
  width:200px;
  height:200px;
  top:100px;
  left:100px;
  background-color:#87ceeb;
  position:absolute;
}
#middle-child02{
  width:200px;
  height:200px;
  top:300px;
  left:300px;
  background-color:#87ceeb;
  position:absolute;
}
#middle-child03{
  width:200px;
  height:200px;
  top:500px;
  left:500px;
  background-color:#87ceeb;
  position:absolute;
}

#bottom{
  width: 800px;
  height: 300px;
  background-color: #87ceeb;
  margin-left:auto;
  margin-right:auto;
  }
  
#bottom-child01{
  width:400px;
  height:100px;
  background-color:#e5dcf0;
  }

#bottom-child02{
  position:relative;
  left:200px;
  width:400px;
  height:100px;
  background-color:#e5dcf0;
  }
  #bottom-child03{
    position:relative;
    left:400px;
    width:400px;
    height:100px;
    background-color:#e5dcf0;
    }
